# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Minesweeper.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jule\Julians Bullshit\Unity\Minesweeper\.idea\.idea.Minesweeper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
